@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

$panel_height: 64px;

*{
    box-sizing: border-box;
}

iframe {
    position: absolute;
    top: $panel_height;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$panel_height});
}

.panel{
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    height: $panel_height;
    border-bottom: 1px solid #000;
}

